matplotlib==3.10.8
tensorflow[and-cuda]==2.20.0
pandas==2.3.3
scikit-learn==1.8.0
tqdm==4.67.1
joblib==1.5.2
# Datasets
openpyxl==3.1.5
# LSTM
atomics==1.0.3
pycont-lite @ git+https://github.com/RhysHolloway/PyCont-Lite.git@03cee5e1d991f4d0a0cbac874f8c11431dec3d8d
ruptures==1.1.10
statsmodels==0.14.6